# =============================================================
# CD - Déploiement AUTOMATIQUE
# Repo : donaldte/microservice-cicd
# Déploie automatiquement sur ton serveur Docker Swarm
# =============================================================

name: CD - Deploy Production

on:
  workflow_run:
    workflows: ["CI - Main Build & Push"]
    types: [completed]
    branches: [main]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Swarm via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            set -e

            echo "Connexion réussie sur $(hostname)"

            cd /opt/cloudtaskhub

            echo "Mise à jour du code..."
            git fetch --all
            git reset --hard origin/main
            git clean -fd

            # CRÉATION DES RÉSEAUX AVEC SUBNET FIXE (plus jamais de conflit !)
            echo "Création des réseaux overlay avec subnets fixes..."
            docker network create --driver overlay --attachable --subnet=172.20.0.0/16 traefik-public || true
            docker network create --driver overlay --attachable --subnet=172.21.0.0/16 internal || true

            # Variables d'environnement
            export DOCKERHUB_USERNAME="${{ secrets.DOCKERHUB_USERNAME }}"
            export IMAGE_TAG="latest"

            echo "Déploiement du stack..."
            docker stack deploy -c docker-compose.prod.yml cloudtaskhub --with-registry-auth --prune

            echo "DÉPLOIEMENT TERMINÉ !"
            echo "Services :"
            docker service ls
            echo "Tâches :"
            docker stack ps cloudtaskhub --no-trunc


  # =============================================================
  # 3. Notification Slack en cas d’échec
  # =============================================================
  slack-failure:
    needs: deploy
    if: failure()                             # seulement si les tests ont planté
    uses: ./.github/workflows/slack-notify.yml
    with:
      status: failure
      title: "Le Deploy du PR ❌ a échoué"
      message: |
        Auteur : ${{ github.actor }}
    secrets: inherit

  # =============================================================
  # 4. Notification Slack si tout est bon
  # =============================================================
  slack-success:
    needs:  deploy
    if: success()
    uses: ./.github/workflows/slack-notify.yml
    with:
      status: success
      title: "Le Build du PR ✅  a réussi"
      message: |
        Le déploiement a réussi !
        Auteur : ${{ github.actor }}
    secrets: inherit
